input[type="button"] {
  cursor: pointer;
  border: none;
  transition-delay: 0;
  height: 32px;
}
input[type="button"].active {
  opacity: 0.5;
}
input[type="button"]:disabled {
  opacity: 0.2;
  cursor: default;
}
